name: timeline_tile
description: A package to help you build highly customisable timelines with Flutter.
version: 2.0.0
repository: https://github.com/JHBitencourt/timeline_tile
homepage: https://github.com/JHBitencourt/timeline_tile
issue_tracker: https://github.com/JHBitencourt/timeline_tile/issues

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
